.form-group
  = f.label :first_name, class: 'control-label'
  .controls
    = f.text_field :first_name, class: 'form-control'
.form-group
  = f.label :last_name, class: 'control-label'
  .controls
    = f.text_field :last_name, class: 'form-control'
.form-group
  = f.label :first_title, 'Title', class: 'control-label'
  .controls
    = f.text_field :first_title, class: 'form-control'
.form-group
  = f.label :second_title, 'Company name',  class: 'control-label'
  .controls
    = f.text_field :second_title, class: 'form-control'
.form-group
  = f.label :first_address, class: 'control-label'
  .controls
    = f.text_field :first_address, class: 'form-control'
.form-group
  = f.label :second_address, class: 'control-label'
  .controls
    = f.text_field :second_address, class: 'form-control'
.form-group
  = f.label :country, class: 'control-label'
  .controls
    = f.text_field :country, class: 'form-control'
.form-group
  = f.label :city, class: 'control-label'
  .controls
    = f.text_field :city, class: 'form-control'
.form-group
  = f.label :state, class: 'control-label'
  .controls
    = f.text_field :state, class: 'form-control'
.form-group
  = f.label :zip, class: 'control-label'
  .controls
    = f.text_field :zip, class: 'form-control'
.form-group
  = f.label :phone_o, 'Office Phone', class: 'control-label'
  .controls
    = f.text_field :phone_o, class: 'form-control'
.form-group
  = f.label :phone_c, 'Cell Phone', class: 'control-label'
  .controls
    = f.text_field :phone_c, class: 'form-control'
