= form_for setting, url: setting_path(setting), html: { class: "form form-inline setting" } do |f|
  .form-group
    = f.label :value, class: 'sr-only'
    = f.text_field :value, value: setting.convert_for_show, class: "#{setting.code} form-control", :placeholder => "Value"
  = f.submit 'update',class: 'btn btn-primary'
