%table{ align: :center}
  %tr
    %td
      = render 'shared/header_row'
= render 'summary_page'
= render 'items_page'
.page-break
= render 'info_page'
%table{ align: :center}
  %tr
    %td
      = render 'shared/footer_row'
