%tr
  %td= item.name
  %td= item.unit
  %td= item.quantity
  %td= number_to_currency(item.price, unit: '$')
  %td= number_to_currency(item.price * item.quantity, unit: '$')
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_item_path(project, item), :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), project_item_path(project, item), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
