.page-header
  %h1= 'Change password'
= form_for user, url: user_change_password_path(user), html: { class: "form form-horizontal user" } do |f|
  = render 'shared/form_errors', obj: user
  .form-group
    = f.label :password, class: 'control-label'
    .controls
      = f.password_field :password, class: 'form-control', required: true
  .form-group
    = f.label :password_confirmation, class: 'control-label'
    .controls
      = f.password_field :password_confirmation, class: 'form-control', required: true
  = f.submit 'Change password', class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), edit_profile_path, :class => 'btn btn-default'
